/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* End CSS Reset */


header {
    text-align: center;
    font-size: 30px;
}

body {
  background-color: white;
  scroll-behavior: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
} 

p {
  text-align: center;
  padding-bottom: 25px;
}

.headerimg {
  width: 100px;
  height: auto;
  margin-top: -35px;
  float: left;
  overflow: hidden;
}

a {
  color: #bfa9e0;
}
.topnav {
  font-size: 40px;
  background-color: white;
  color: #bfa9e0;
  height: 110px;
  align-items: center;
  vertical-align: middle;
}

.topnav a {
  float: left;
  color: #bfa9e0;
  text-align: center;
  padding: 16px 16px;
  align-items: center;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

.topnav-right {
  color: #bfa9e0;
  padding-top: 30px;
  padding-right: 25px;
  float: right;
}

 a, a:hover, a:focus, a:active, a:visited{
      text-decoration: none;
      color: #bfa9e0;
 }

 a.button {
  text-decoration: none;
  color: white;
}

 .section1{
  background-color: #bfa9e0;;
  display: block;
  height: 55vh;
  font-size: 35px;
  align-items: center;
  justify-content: center;
  padding-top: 30vh;
  line-height: 50px;
  text-align: center;
  width: 100%;
}

.projects {
  background-color:white;
  padding-top: 30px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 30px;
}

.projectimg {
  padding-right: 25px;
  padding-bottom: 15px;
}

.description {
  display: block;
  text-align: left;
  line-height: normal;
}

.section1Text {
  font-size: 25px;
}

.text-link {
  color:blue;
  text-decoration: underline;
}

.chevron {
  position: absolute;
  bottom: 10px;
  margin: 0 auto;
  display: inline-block;

}

.chevron:hover {
  cursor: pointer;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 25px;
  padding-bottom: 10px;
  margin-left: 15%;
  margin-right: 15%;
}

.projectdesc {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.button {
  background-color: purple; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.text-link.visited{
  color:rgb(13, 13, 121);
}

.text-link {
  color: blue;
}

.text {
  line-height: 25px;
}

img {
  height: 250px;
  padding-right: 25px;
}

h1 {
    text-align: left; 
    color: black; 
    font-family: 'Playfair Display', serif;
}

h2 {
  text-align: center;
  color: black; 
  font-family: 'Playfair Display', serif;
  font-size: 35px;
  text-decoration: underline;
  display: block;
}

h3 { 
  text-align: center;
  color: black; 
  font-family: 'Playfair Display', serif;
  font-size: 25px;
  display: block;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
}
    
.footer {
text-align: center;
width: 100%;
position: relative;
margin-top: auto;
padding-top: 50px;
padding-bottom: 25px;
bottom: 0;
}

.footer p {
padding-bottom: 0;
}

@media screen and (max-width:767px) {
  /* For mobile phones: */
   .container {
      position: relative;
      display: inline-block;
      flex-direction: column;
  }
  .img {
    padding-bottom: 25px;
  }
}
