.Spotify {

  .circle-container {
    .genre-circle {
      width: 300px;
      height: 300px;
      border-radius: 50%;
      margin: 50px auto; /* Center the circle horizontally */
      display: flex;
      align-items: center;
      justify-content: center;
      color: white; /* Optional: Text color inside the circle */
      text-align: center;
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); /* Optional: Add some shadow for effect */
    }
  }
  // Styling for the search container
  .search-container {
    display: flex;
    justify-content: center;
    margin: 20px;
  }

    .custom-input-group {
      display: flex;
      gap: 10px;
      width: 100%;
      justify-content: center;
      

      .custom-form-control {
        padding: 10px;
        font-size: 22px;
        border-radius: 12px;
        width: 75%;
        border: none;
      }

      .custom-button {
        padding: 10px;
        font-size: 16px;
        border-radius: 12px;
        border: none;
        cursor: pointer;
        background-color: #F786AA;
        &:hover {
          background-color: #a0526b;
      }
      }
  }

  // Styling for the albums container
  .albums-container {
    margin: 20px;

    .custom-row {
      display: flex;
      flex-wrap: wrap;
      gap: 20px; // Adjust spacing between columns

      .custom-col {
        flex: 1 1 calc(25% - 20px); // 25% width for 4 columns with gap adjustment
        max-width: calc(25% - 20px); // Adjust for gap to ensure proper alignment
        margin-bottom: 20px; // Space between rows

        .custom-card {
          border: 1px solid #ddd;
          border-radius: 8px;
          overflow: hidden;
          height: 100%; // Ensure card takes full height of column

          .custom-card-img {
            width: 100%;
            height: auto;
            object-fit: cover; // Ensure image covers the area without distortion
          }

          .custom-card-title {
            font-size: 16px;
            font-weight: bold;
            text-align: center;
            padding: 10px;
          }
        }
      }
    }
  }

  .top-items-container {
    margin: 20px;
    text-align: center;

    .custom-row {
      display: flex;
      flex-wrap: wrap;
      gap: 20px; // Adjust spacing between columns
      padding-top: 15px;

      .custom-col {
        flex: 1 1 calc(10% - 20px); // 25% width for 4 columns with gap adjustment
        max-width: calc(10% - 20px); // Adjust for gap to ensure proper alignment
        margin-bottom: 20px; // Space between rows

        .custom-card {
          border: 1px solid #ddd;
          border-radius: 8px;
          overflow: hidden;
          height: 100%; // Ensure card takes full height of column

          .custom-card-img {
            width: 100%;
            height: auto;
            object-fit: cover; // Ensure image covers the area without distortion
          }

          .custom-card-title {
            font-size: 16px;
            font-weight: bold;
            text-align: center;
            padding: 10px;
          }
        }
      }
    }
  }

  .recent-tracks-container {
    text-align: center;
    .recently-played-list {
      text-align: center;
      padding-left: 50px;
      padding-right: 50px;
      padding-top: 25px;
      padding-bottom: 25px;
    }
  }
}
